<button mat-raised-button routerLink="/users">
  <mat-icon>arrow_back</mat-icon> Voltar
</button>

<section *ngIf="user" class="margin-top-10">
  <mat-card>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>Usuário: {{ user.username }}</mat-card-subtitle>
    <mat-card-content>
      <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{ user.name }}</dd>
        <dt>Usuário</dt>
        <dd>{{ user.username }}</dd>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
        <dt>Fone</dt>
        <dd>{{ user.phone }}</dd>
        <dt>Site</dt>
        <dd>{{ user.website }}</dd>
      </dl>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="user">
    <mat-card>
        <mat-card-title>Dados da Empresa</mat-card-title>
        <mat-card-content>
          <dl class="dl-horizontal">
            <dt>Nome da Empresa</dt>
            <dd>{{ user.company.name }}</dd>

            <dt>Dados adicionais</dt>
            <dd>{{ user.company.catchPhrase }}</dd>

            <dt>Tipo de Empresa
              </dt>
            <dd>{{ user.company.bs }}</dd>
          </dl>
        </mat-card-content>
      </mat-card>
</section>
