@import '../utils/flex';
@import '_variables';

body{
  @media(min-width: 768px){
    &.full-width{
      .mat-sidenav-container{
        .mat-toolbar{
          min-width: 100%;
          max-width: 100%!important;

          // Set logo content and size on full width toobar

        }

        .mat-sidenav{
          margin-top: 64p x;
          z-index: 0;

          .logo{
            // Hide sidenav logo on full width toolbar
            display: none;
          }
        }

        .mat-accent{
          background-color: #2F3030;
        }
      }
    }
  }
}

.mat-sidenav-container {

  .mat-card-title{
    font-family: $heading-font-family;
    font-weight: 300;
  }

  @media(min-width: 768px) {

    .mat-toolbar {
      // Use the same transition sidenav is using, so it animates smoothly
      transition-property: max-width;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.25,.8,.25,1);
      // Set width based on sidenav width
      max-width: calc(100% - #{$sidenav-width});
    }

    &.sidenav-closed {
      .mat-toolbar {
        max-width: 100%;
      }
    }
  }

  .mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    .app-title{
      margin-left: 10px;
      font-size: 20px;
      font-weight: 400;
    }
  }

  main {
    padding: 80px 16px 16px;

    .mat-tab-body{
      margin-top: 10px;
    }
  }
}

// Force dark backdrop for all themes
.mat-drawer-backdrop{
    &.mat-drawer-shown {
        background-color: rgba(0, 0, 0, 0.6)!important;
    }
}

.flex-container{

  @include flexbox();
  align-items: stretch;

  @media(min-width: 768px){
    flex-direction: row;

    .col {
      @include flex(1);
      margin: 0 0 0 1em;

      &:first-child{
        margin: 0;
      }

      &.col-x2{
        @include flex-grow(2);
      }

      &.col-x3{
        @include flex-grow(3);
      }

      &.col-x4{
        @include flex-grow(4);
      }
    }
  }

  @media(max-width: 767px){
    flex-direction: column;

    .col {
      flex: 1;
      margin: 1em 0 0 0;

      &:first-child{
        margin: 0;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Layout classes
//////////////////////////////////////////////////////////////////////////////

section {
  margin-bottom: 20px;
}

[fill], .fill {
  flex: 1 1 auto;
}

[flex] {
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

[layout=column], [layout=row], [layout] {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}

[layout=row] {
  -ms-flex-direction: row;
  flex-direction: row;
}

.text-center {
  text-align: center !important;
}

[center], .center{
  margin: 0 auto;
}

.fixed-bottom-right {
  position: fixed !important;
  @media(min-width:768px){
    bottom: 24px;
    right: 32px;
  }
  @media(max-width:767px){
    bottom: 20px;
    right: 30px;
  }
}

form{
  &.full-width{
    width: 100%;
    .mat-form-field{
      &.full-width{
        width: 100%;
      }
    }
  }
}

.float-right{
  float: right;
  &::after{
    clear: both;
  }
}

.clearfix{
  clear: both;
}

.hide-md{
  @media(max-width: 767px){
    display: none!important;
  }
}

.hide-lg{
  @media(min-width: 768px){
    display: none!important;
  }
}
