<mat-toolbar color="accent">
  <!--Sidenav menu button-->
  <button mat-icon-button (click)="onToggleMenu()">
    <mat-icon aria-label="Toggle menu">menu</mat-icon>
  </button>

  <div class="logo"></div>

  <!--Title-->
  <span class="app-title">{{ header }}</span>

</mat-toolbar>
