<div class="user-list-container">


  <mat-card class="margin-top-10">
    <mat-card-content>
      <form class="full-width">
        <mat-form-field class="full-width user-search">
          <input type="text" matInput placeholder="Pesquisar por nome ou email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="clearfix"></div>


      </form>

      <div class="table-responsive clearfix" *ngIf="users">

        <div>
          <mat-chip-list>
            <mat-chip *ngIf="email" (remove)="email = null">Search: {{email}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="startDate" (remove)="startDate = null">Start date: {{startDate | date: 'dd/MM/yyyy'}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="endDate" (remove)="endDate = null">End date: {{endDate | date: 'dd/MM/yyyy'}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="state" (remove)="state = null">State: {{state}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Usuário</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>
                <a routerLink="/users/details/{{user.id}}">{{user.name}}</a>
              </td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>


</div>
