<div class="sidenav">
  <div class="logo"></div>
  <mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span class="hidden">Tela Inicial</span>
    </a>
    <a mat-list-item routerLink="/users" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Usuários</span>
    </a>
  </mat-nav-list>
</div>
